# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.jaslab3.iml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\jaslab3\.idea\.idea.jaslab3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
